*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF0DC;
    color: #131010;
}
header{
    background-color: #F0BB78;
    color: #131010;
    padding: 20px 0px;
    text-align: center;
}
header h1{
    margin-bottom: 10px;
    /* header ve h1 in arasındaki boşluk */
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    /* yanyana dizilmeleri için */
    margin-right: 20px;
    /* aralarındaki boşluk */
}
nav ul li a{
    color: #543A14;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
.searchbar-container{
    max-width: 800px;
    margin: 30px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* taşma ihtimaline karşı */
}
.searchbar-container input[type="text"] {
    padding: 20px;
    width: 70%;
    border-radius: 30px 0 0 30px;
    border: none;
    outline: none;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.searchbar-container input[type="button"]{
    padding: 20px 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #543A14;
    border-radius: 0 30px 30px 0;
    /* burada inputun tam tersi rakamlar verilmeli */
    font-size: 18px;
    cursor: pointer;
    transition: 400ms all;
}
.searchbar-container button:hover{
    background-color: #131010;
}
.hero{
    background-image: url(img/yemek-sofrasi.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0px;
}
.hero p{
    font-size: 40px;
    margin-bottom: 20px;
}
.button{
    display: inline-block;
    background-color: #F0BB78;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    transition: 300ms all;
}
.order-button{
    display: block;
    /*öğenin, bloğun tam genişliğinde olması için */
    margin: 0px auto ;
    /* ortalansın diye */
    margin-top: 10px !important;
    background-color: #F0BB78;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: 300ms all;
    cursor: pointer;
    /* tıklanabilir bağlantilar için */
}
.button:hover,
.order-button:hover{
    background-color: #543A14;
}
.position, 
.featured,
.menu{
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
}
.position h4, 
.featured h4,
.menu h4{
    margin-bottom: 20px;
    /* resimle yazı arasındaki boşluk */
}
.menu-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-item{
    width: calc(33.333% - 20px);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
    
}
.menu-item:hover{
    transition: 300ms all;
    transform: scale(1.03);
    /* mouse üzerine geldiğinde
    hafif büyümesini sağlar */
}
.menu-item img{
    width: 100% ;
    border-radius: 5px;
    margin-bottom: 100px;
    /*  resimle yazı arasındaki boşluk */
}
.menu-item h4,
.menu-item p{
    margin-bottom: 13px;
}
.menu-item span{
    display: block;
    font-weight: bold;
    color: green;
}
del{
    color: red;
    opacity: 0.7;
    /* opaklık seviyesini ayarlar */
}
.footer{
    background-color: #F0BB78;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    width: 100%;
}
@media screen (max-width: 480px){
    .menu{
        text-align: center;
    }
    .featured{
        text-align: center;
    }
    .menu-item{
        width: 90%;
        margin: 15px auto;
    }
}